<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524745924262-2653gj6gh542dh227ma41tquq3f8md34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524745924262-2653gj6gh542dh227ma41tquq3f8md34</string>
	<key>API_KEY</key>
	<string>AIzaSyAhczG-AUxU5MkztjOBtgAi81gmki13qIs</string>
	<key>GCM_SENDER_ID</key>
	<string>524745924262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alvorecerFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>alvorecerflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alvorecerflutterapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524745924262:ios:f13b42ff03478320fc9e67</string>
</dict>
</plist>